@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.nav-item,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-weight: 300;
}

input,
textarea {
    outline: none;
    border: 1px solid #1C86A4;
    border-radius: 3px;
    padding: 12px;
    transition: all .6s ease-in-out;
}

::placeholder {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
}

input:focus,
textarea:focus {
    border: 1px solid #E0E0E0;
}

.input-wrapper:focus-within label {
    opacity: 1;
}

input:focus::placeholder,
textarea:focus::placeholder {
    color: transparent;
}

label {
    opacity: 0;
    color: #1C86A4;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    transition: opacity .6s ease-in-out;
}

.footer .copyright {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #4F4F4F;
}

.nav-item {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
}

.container {
    max-width: 331px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 42px 0;
}

a.btn {
    width: 100%;
    height: 50px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #E5E5E5;
    background-color: #014561;
    border-radius: 2px;
    transition: all .6s ease-in-out;
}

a.btn.tertiary-btn {
    color: #E0E0E0;
    background-color: #BE9667;
    font-weight: normal;
    height: 55px;
}

a.btn.quaternary-btn {
    color: #014561;
    background-color: transparent;
    border: 1px solid #1C86A4;
}

a.btn.primary-btn:hover {
    color: #E0E0E0;
    border: 1px solid #BE9667;
    background-color: transparent;
}

a.btn.secondary-btn:hover {
    color: #F2F2F2;
    background-color: #013145;
}

a.btn.tertiary-btn:hover {
    background-color: #727272;
}

a.btn.quaternary-btn:hover {
    color: #BE9667;
    background-color: transparent;
    border: 1px solid #BE9667;
}

a.btn.quinary-btn:hover {
    background-color: #00648C;
}


/* Sticky Header NavBar */

header {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .6s;
    padding: 55px 115px;
    z-index: 999;
    background: #0A0A0A;
}

header.sticky {
    padding: 10px 45px;
    background: #fff;
    box-shadow: 0px 15px 30px 0px rgb(0, 0, 0, 0.2);
}

header.sticky .logo,
header:not(.sticky) .sticky-logo {
    display: none;
}

header .logo,
header .sticky-logo {
    position: relative;
    transition: .6s;
}

.mobile-menu {
    position: absolute;
    right: 22px;
    top: 27px;
}

header ul {
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    transition: .6s;
}

header.sticky ul li a,
header ul li a {
    color: #949494;
}

header.sticky ul li a:hover,
header ul li a:hover {
    color: #00648C;
}


/* End Sticky Header NavBar */


/* Hero Section */

#hero {
    background-image: url(../assets/img/hero/hero-banner.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#hero .hero {
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hero.container {
    padding-top: 0;
    padding-bottom: 88px;
}

#hero-text {
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: #E5E5E5;
    max-width: 400px;
    margin-top: 146px;
}

#hero-heading {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
}

#hero-heading h1 {
    font-size: 72px;
    font-style: normal;
    text-transform: uppercase;
    color: rgba(2, 75, 104, 0.68);
    line-height: 85%;
}

#hero-heading h2 {
    font-size: 26px;
    font-style: italic;
    color: #BE9667;
}

#hero-heading h2:last-child {
    text-align: end;
}

#hero-text b {
    font-weight: 400;
}


/* End Hero Section */


/* Renee Section */

.renee.container {
    align-items: center;
}

.renee img {
    height: auto;
    width: 210px;
    flex-shrink: 0;
}

.renee-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 25px;
}

.renee-wrapper h3 {
    position: relative;
    width: fit-content;
    display: inline-block;
    text-align: center;
    font-family: 'Cormorant', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    color: #014561;
    margin-bottom: 36px;
    margin-left: auto;
    margin-right: auto;
}

.renee-wrapper h3::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 53px;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    background-color: #70B0C4;
    transition: .3s ease-in-out width;
}

.renee-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.renee-wrapper h3:hover::after {
    width: 100%;
}

.renee-wrapper .renee-paragraph {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    color: #333333;
}

.renee-paragraph p {
    line-height: 27px;
}

.renee-paragraph p:last-child {
    margin: 26px 0;
}

.renee-wrapper .renee-cite {
    position: relative;
    font-family: 'Cormorant', sans-serif;
    margin-top: 7px;
}

.renee-wrapper .renee-cite cite {
    display: flex;
    flex-direction: column;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    color: #1C86A4;
    line-height: 34px;
    text-align: center;
}

.renee-wrapper .renee-cite img {
    display: none;
    position: absolute;
    height: 123px;
    width: auto;
    flex-shrink: 0;
    right: -61px;
    bottom: 39px;
}

.renee-wrapper .renee-cite .renee-cite-author {
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    color: #828282;
    text-align: center;
}

.renee-wrapper a.btn.secondary-btn {
    margin-top: 30px;
}


/* End Renee Section */


/* Nelson Section */

#nelson {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    background-color: #EFF7F9;
}

.nelson p {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #828282;
}

.nelson .nelson-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 21px;
}

.nelson .nelson-wrapper h6 {
    font-family: 'Cormorant', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    color: #014561;
}

.nelson .nelson-wrapper span {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #BE9667;
    text-align: center;
}

#nelson #alt-nelson-img {
    position: relative;
    display: flex;
    z-index: 0;
    width: 376px;
    height: auto;
    justify-content: flex-end;
}

#nelson #alt-nelson-img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #024b68;
    opacity: .7;
    z-index: 1;
}

#nelson-hero-img {
    position: absolute;
    top: 98px;
    left: 22px;
    height: auto;
    width: 157px;
    flex-shrink: 0;
    z-index: 2;
    border: 8px solid white;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
    transform: rotate(7.42deg);
}


/* End Nelson Section */


/* Authority Section */

#authority {
    display: none;
}

.authority.container {
    max-width: 1140px;
}

.authority-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.authority-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authority-item:not(.authority-item:last-child) {
    padding-right: 120px;
}

.ver_divider {
    content: '';
    display: block;
    width: 1px;
    height: 57px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #ccc;
}

.authority-item h6 {
    margin: 14.7px 0 5px;
    font-family: 'Cormorant', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #1C86A4;
}

.authority-item p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
    color: #727272;
}


/* End Authority Section */


/* Start Sale Section */

#sale {
    position: relative;
    background-image: url(../assets/img/hero/sale-bg.png);
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

#sale::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(270deg, rgba(1, 49, 69, 0.95) 0%, rgba(0, 36, 50, 0.98) 54.17%);
    z-index: -1;
}

.sale {
    display: flex;
    flex-direction: row;
}

.sale.container {
    padding: 30px 0;
}

.sale-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sale-wrapper h1 {
    font-family: 'Cormorant', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 53px;
    line-height: 64px;
    text-transform: uppercase;
    color: #BE9667;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sale-wrapper .sale-content .sale-list h3 {
    margin-top: 37px;
    font-family: 'Cormorant', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    color: #BE9667;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sale-wrapper .sale-content .sale-list li::marker {
    content: "";
}

.sale-wrapper .sale-content .sale-list li {
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #C4C4C4;
}

.sale-wrapper .sale-content .sale-list li span {
    color: #BE9667;
}

.sale-wrapper .sale-content .sale-list li b {
    font-weight: 400;
}

.sale-wrapper a.btn.tertiary-btn {
    margin-top: 65px;
}

.sale.container img {
    display: none;
    height: 560px;
    width: auto;
    flex-shrink: 0;
}


/* End Sale Section */


/* Shirt Production Section */

.shirt.container {
    border-bottom: 1px solid #C4C4C4;
}

.shirt.container .shirt-img-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
}

.shirt.container .shirt-img-wrapper img {
    height: auto;
    width: 318px;
    flex-shrink: 0;
    transition: transform 1s;
}

.shirt.container .shirt-img-wrapper .shirt-border {
    position: absolute;
    width: calc(100% + 2px);
    height: calc(100% - 21px);
    top: 8px;
    right: -2px;
    border: 1px solid #1C86A4;
    z-index: 1;
}

.shirt.container .shirt-img-wrapper .shirt-img {
    position: relative;
    overflow: hidden;
}

.shirt-wrapper .shirt-content {
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    place-self: center;
}

.shirt-wrapper .shirt-content h1 {
    font-family: 'Cormorant', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 61px;
    text-transform: uppercase;
    color: #014561;
}

.shirt-wrapper .shirt-content h6 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #C4C4C4;
}

.shirt-wrapper .shirt-content span {
    color: #BE9667;
}

.shirt-wrapper .shirt-content .shirt-lists {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.shirt-wrapper .shirt-content .shirt-lists .shirt-list li::marker {
    content: '';
}

.shirt-wrapper .shirt-content .shirt-lists .shirt-list li::before {
    content: "•";
    padding-right: 15px;
}

.shirt-wrapper .shirt-content .shirt-lists .shirt-list li {
    font-family: 'Cormorant', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    color: #727272;
}

.shirt-wrapper .shirt-content a {
    display: none;
}


/* End Shirt Production Section */


/* Sleeves Production Section */

.sleeves.container {
    border-bottom: 1px solid #C4C4C4;
}

.sleeves.container .sleeves-img-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
}

.sleeves.container .sleeves-img-wrapper img {
    height: auto;
    width: 318px;
    flex-shrink: 0;
    transition: transform 1s;
}

.sleeves.container .sleeves-img-wrapper .sleeves-border {
    position: absolute;
    width: calc(100% + 2px);
    height: calc(100% - 21px);
    top: 8px;
    right: -2px;
    border: 1px solid #1C86A4;
    z-index: 1;
}

.sleeves.container .sleeves-img-wrapper .sleeves-img {
    position: relative;
    overflow: hidden;
}

.sleeves-wrapper {
    display: flex;
    flex-direction: column-reverse;
}

.sleeves-wrapper .sleeves-content {
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    place-self: center;
}

.sleeves-wrapper .sleeves-content h1 {
    font-family: 'Cormorant', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 61px;
    text-transform: uppercase;
    color: #014561;
}

.sleeves-wrapper .sleeves-content h6 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #C4C4C4;
}

.sleeves-wrapper .sleeves-content span {
    color: #BE9667;
}

.sleeves-wrapper .sleeves-content .sleeves-lists {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.sleeves-wrapper .sleeves-content .sleeves-lists .sleeves-list li::marker {
    content: '';
}

.sleeves-wrapper .sleeves-content .sleeves-lists .sleeves-list li::before {
    content: "•";
    padding-right: 15px;
}

.sleeves-wrapper .sleeves-content .sleeves-lists .sleeves-list li {
    font-family: 'Cormorant', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    color: #727272;
}


/* End Sleeves Production Section */


/* Testimony Section */

#testimony {
    position: relative;
    background-image: url(../assets/img/hero/branding-bg.png);
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
}

#testimony::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

#testimony::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #014561;
    z-index: -1;
}

.testimony-wrapper .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.testimony.container {
    position: relative;
    z-index: 1;
}

.testimony-wrapper h3 {
    display: flex;
    width: fit-content;
    color: #F2F2F2;
    margin: 0 auto;
    position: relative;
    font-family: 'Cormorant', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 46px;
}

.testimony-wrapper h3::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 53px;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    background-color: #70B0C4;
    transition: .3s ease-in-out width;
}

.testimony-wrapper h3:hover::after {
    width: 100%;
}

.testimony-wrapper .testimony-content {
    margin-top: 53px;
}

.testimony-wrapper .testimony-content img {
    display: inline-block !important;
    width: inherit !important;
    border: 2px solid #BE9667;
    border-radius: 999px;
    margin-bottom: 15px;
}

.testimony-wrapper .testimony-content .testimony-cite {
    max-width: 754px;
}

.testimony-wrapper .testimony-content .testimony-cite cite {
    font-family: 'Cormorant', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    color: #C4C4C4;
}

.testimony-wrapper .testimony-content .testimony-cite .testimony-cite-author {
    margin-top: 15px;
}

.testimony-wrapper .testimony-content .testimony-cite .testimony-cite-author h6 {
    font-family: 'Cormorant', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #BE9667;
}

.testimony-wrapper .testimony-content .testimony-cite .testimony-cite-author span {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #949494;
}


/* End Testimony Section */


/* Footer */

.footer.container {
    padding: 30px 0;
}

.footer.container h3 {
    display: flex;
    width: fit-content;
    color: #1C86A4;
    margin: 0 auto;
    margin-bottom: 50px;
    position: relative;
    font-family: 'Cormorant', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 46px;
}

.footer.container h3::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 53px;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    background-color: #70B0C4;
    transition: .3s ease-in-out width;
}

.footer.container h3:hover::after {
    width: 100%;
}

.footer-wrapper {
    display: flex;
    flex-direction: column-reverse;
}

.footer-wrapper .footer-left {
    text-align: center;
    margin-top: 45px;
}

.footer-left,
.footer-right,
.footer-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-wrapper h6 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #1C86A4;
}

.footer-info h6 {
    margin-bottom: 8px;
}

.footer-info p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #828282;
}

.footer-info .phones {
    margin-bottom: 23px;
}

.footer-info .email {
    margin-bottom: 43px;
}

.footer-service h6 {
    margin-bottom: 14px;
}

.footer-wrapper .footer-right .footer-inputs input,
.footer-wrapper .footer-right .footer-inputs textarea,
.footer-wrapper .footer-right a.btn.quinary-btn {
    width: 100%;
}

.footer-copy {
    margin-top: 0;
}

.footer-copy .footer.container {
    border-top: 1px solid #BE9667;
    margin-bottom: 50px;
}

.footer-copy .footer .footer-branding {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-copy .footer .footer-branding img {
    width: min-content;
}

.footer-copy .footer .footer-branding p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #BDBDBD;
    margin: 15px 0;
}

.footer-copy .footer p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #4F4F4F;
}


/* End Footer */


/* Media Query */

@media (min-width: 1024px) {
    /* General Styles */
    header {
        position: fixed;
        background: linear-gradient(180deg, #000000 29.73%, rgba(0, 0, 0, 0) 100%);
        padding: 25px 40px 35px;
    }
    header ul {
        display: flex;
    }
    .mobile-menu {
        display: none;
    }
    .container {
        max-width: 1162px;
        padding: 50px 0;
    }
    a.btn {
        width: 300px;
    }
    /* End General Styles */
    /* Hero Section */
    #hero {
        height: 702px;
    }
    #hero .hero {
        align-items: start;
        justify-content: end;
    }
    .hero.container {
        min-height: 100vh;
        padding: 42px 0px;
    }
    #hero-heading h2 {
        font-size: 32px;
    }
    #hero-heading h1 {
        font-size: 90px;
    }
    #hero-text {
        font-size: 24px;
        margin-top: 66px;
    }
    /* End Hero Section */
    /* Renee Section */
    .renee {
        flex-direction: row;
    }
    .renee img {
        width: 370px;
    }
    .renee-wrapper {
        height: 440px;
        margin-left: 100px;
        margin-top: 0;
    }
    .renee-wrapper h3 {
        margin-bottom: 0;
        margin-left: 0;
    }
    .renee-wrapper .renee-cite {
        margin-top: 0;
    }
    .renee-wrapper .renee-cite cite {
        text-align: left;
    }
    .renee-wrapper .renee-cite img {
        display: block;
    }
    .renee-wrapper .renee-cite .renee-cite-author {
        text-align: end;
    }
    .renee-wrapper a.btn.secondary-btn {
        margin-top: 10px;
    }
    /* End Renee Section */
    /* Nelson Section */
    #nelson {
        flex-direction: row;
        background-image: url(../assets/img/hero/tailor-bg.png);
        background-repeat: no-repeat;
        background-position: top -28px right 313px;
        background-size: 70%;
    }
    .nelson.container {
        max-width: 630px;
        min-height: 360px;
        justify-content: flex-end;
    }
    #nelson #alt-nelson-img {
        width: 313px;
    }
    .nelson .nelson-wrapper {
        margin-top: 47px;
    }
    #nelson-hero-img {
        width: 218px;
        top: 50%;
        right: 270px;
        left: auto;
        transform: translateY(-50%) rotate(7.42deg);
    }
    /* End Nelson Section */
    /* Authority Section */
    #authority {
        display: block;
    }
    /* End Authority Section */
    /* Start Sale Section */
    .sale-wrapper {
        padding: 30px 0px;
        margin-right: 55px;
    }
    .sale-wrapper .sale-content .sale-list li {
        font-size: 22px;
        line-height: 26px;
    }
    .sale-wrapper .sale-content .sale-list h3 {
        font-size: 30px;
        line-height: 36px;
    }
    .sale.container img {
        display: block;
    }
    /* End Sale Section */
    /* Shirt Section */
    .shirt-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .shirt-wrapper .shirt-content {
        margin-top: 0;
        padding: 37px 31px 37px 72px;
    }
    .shirt-wrapper .shirt-content h1 {
        font-size: 62px;
        line-height: 75px;
    }
    .shirt-wrapper .shirt-content h6 {
        font-size: 16px;
        line-height: 19px;
    }
    .shirt-wrapper .shirt-content .shirt-lists {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: 31px 0 34px;
    }
    .shirt-wrapper .shirt-content .shirt-lists .shirt-list li {
        font-size: 24px;
        line-height: 29px;
    }
    .shirt.container {
        border-bottom: none;
    }
    .shirt.container .shirt-img-wrapper {
        width: auto;
        height: 488px;
        text-align: start;
    }
    .shirt.container .shirt-img-wrapper .shirt-border {
        width: calc(100% + 20px);
        height: calc(100% - 15px);
        top: 12px;
        right: -10px;
        transform: translateY(0);
    }
    .shirt.container .shirt-img-wrapper img {
        width: 540px;
    }
    .shirt.container .shirt-img-wrapper::after {
        position: absolute;
        content: '';
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        transition: background-color 1s;
    }
    .shirt.container .shirt-img-wrapper:hover::after {
        background-color: rgba(0, 26, 36, 0.61);
    }
    .shirt.container .shirt-img-wrapper:hover .shirt-img img {
        transform: scale(1.02) translate(-3px, -3px);
    }
    .shirt-wrapper .shirt-content {
        border: 1px solid #E5E5E5;
        border-left: none;
    }
    .shirt-wrapper .shirt-content a {
        display: flex;
    }
    /* End Shirt Section */
    /* Sleeves Section */
    .sleeves-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .sleeves-wrapper .sleeves-content {
        margin-top: 0;
        padding: 37px 72px 37px 31px;
    }
    .sleeves-wrapper .sleeves-content h1 {
        font-size: 62px;
        line-height: 75px;
    }
    .sleeves-wrapper .sleeves-content h6 {
        font-size: 16px;
        line-height: 19px;
    }
    .sleeves-wrapper .sleeves-content .sleeves-lists {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: 31px 0 34px;
    }
    .sleeves-wrapper .sleeves-content .sleeves-lists .sleeves-list li {
        font-size: 24px;
        line-height: 29px;
    }
    .sleeves.container {
        border-bottom: none;
    }
    .sleeves.container .sleeves-img-wrapper {
        width: auto;
        height: 488px;
        text-align: start;
    }
    .sleeves.container .sleeves-img-wrapper .sleeves-border {
        width: calc(100% + 20px);
        height: calc(100% - 15px);
        top: 12px;
        right: -10px;
        transform: translateY(0);
    }
    .sleeves.container .sleeves-img-wrapper img {
        width: 540px;
    }
    .sleeves.container .sleeves-img-wrapper::after {
        position: absolute;
        content: '';
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        transition: background-color 1s;
    }
    .sleeves.container .sleeves-img-wrapper:hover::after {
        background-color: rgba(0, 26, 36, 0.61);
    }
    .sleeves.container .sleeves-img-wrapper:hover .sleeves-img img {
        transform: scale(1.02) translate(-3px, -3px);
    }
    .sleeves-wrapper .sleeves-content {
        border: 1px solid #E5E5E5;
        border-right: none;
    }
    /* End Sleeves Section */
    /* Testimony Section */
    .testimony.container {
        max-width: 1094px;
    }
    /* End Section */
    /* Footer */
    .footer.container {
        max-width: 970px;
        padding: 50px 0;
    }
    .footer-wrapper {
        display: grid;
        grid-template-columns: 3fr 6fr;
        gap: 130px;
    }
    .footer-wrapper .footer-left {
        text-align: left;
        margin-top: 0;
    }
    .footer-info p {
        font-size: 16px;
        line-height: 24px;
    }
    .footer-info .phones {
        margin-bottom: 17px;
    }
    .footer-info .email {
        margin-bottom: 0;
    }
    .footer-copy {
        margin-top: 34px;
        border-top: 1px solid #BE9667;
    }
    .footer-copy .footer.container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        border: none;
        margin-bottom: 0;
    }
    .footer-copy .footer .footer-branding p {
        margin: 0;
    }
    /* End Footer */
    /* Miscellaneous Styles */
    .fade {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.9s ease-out, transform 1.5s ease-out;
        will-change: opacity, visibility;
    }
    .fade-up {
        transform: translateY(20vh);
    }
    .fade-left {
        transform: translateX(-20vw);
    }
    .fade-right {
        transform: translateX(20vw);
    }
    .fade.is-visible {
        opacity: 1;
        transform: none;
        visibility: visible;
    }
    /* End Miscellaneous Styles */
}


/* End Media Query */


/* Miscellaneous Styles */

.floating-wpp {
    font-family: 'Lato';
    z-index: 99;
}

.floating-wpp .floating-wpp-popup.active .floating-wpp-message {
    color: #C4C4C4;
}

.floating-wpp .floating-wpp-input-message textarea {
    color: #727272;
}

#scroll-top-wrapper {
    display: none;
    position: fixed;
    left: auto;
    right: 31px;
    bottom: 108px;
    width: fit-content;
    margin-left: auto;
    background-color: #fff;
    padding: 16px 13px;
    border-radius: 4px;
    box-shadow: 0px 4px 9px rgb(0, 0, 0, 0.25);
}

#scroll-top-wrapper.toggle {
    display: block;
}